<div class="download" id="download">
    <h2>Download</h2>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">The currently available download is as follows</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Documents</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Full Paper Sample (.docx)</td>
                            <td><a href="data/FullPaperSample.docx" class="btn btn-lg btn-success pull-right">Download</a></td>
                        </tr>
                        <tr>
                            <td>Full Paper Sample (.pdf)</td>
                            <td><a href="data/FullPaperSample.pdf" class="btn btn-lg btn-success pull-right">Download</a></td>
                        </tr>
                        <tr>
                            <td>Abstract Sample include PCC logo and the event logo.</td>
                            <td><a href="data/AbstractSample.docx" class="btn btn-lg btn-success pull-right">Download</a></td>
                        </tr>
                        <tr>
                            <td>Guidelines for the poseter presentation.</td>
                            <td><a href="data/PosterGuideline.docx" class="btn btn-lg btn-success pull-right">Download</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>