<div class="factorytour" id="factorytour">
    <h2>Factory Tour</h2>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Four courses are available!</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <p>All students can choose the factory tour.</p>
                <p><a href="{{ path('member_factorytour_show', {id: app.user.id}) }}" class="btn btn-lg btn-info pull-right">View course selection &raquo;</a></p>
            </div>
        </div>
    </div>
</div>