<div class="how-to-invite">
    <h2>How to invite a new member</h2>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Sending a new invitation</h3>
        </div>
        <div class="panel-body">
            <p>People this message showed can invite a new menber from the invitation page.</p>
            <ol>
                <li><p>Before you send the invitation, you have to check whether the <a href="{{ path('member_organization_index') }}">organization</a> where the new member will belong to is exist or not. If not please contact to TJ-SIF2016 SECRETARIAT.</p></li>
                <li><p>Go to the <a href="{{ path('member_invitation') }}">invitation</a> page.</p></li>
                <li><p>Enter the <mark>user name</mark> that only used in the invitation mail and <mark>email address</mark> of the person you would like to invite.</p></li>
                <li><p>Click the <button type="button" class="btn btn-success">Send invitation</button> button to send.</p></li>
                <li><p>If you are sending more than one invitation, you can also continue to send it to the other people.</p></li> 
            </ol>
        </div>
    </div>
</div>