<div class="whats new">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">What's new</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <p><i class="fa fa-times-circle-o  fa-fw" aria-hidden="true"></i>&nbsp;<strong>The factory tour selection has closed because of overdue date.</strong></p>
                    <a href="#factorytour">Click here!</a>                    
                </li>
                <li class="list-group-item">
                    <p><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>&nbsp;<strong>Map of PCSHS Chonburi</strong> and <i class="fa fa-book" aria-hidden="true"></i>&nbsp;<strong>TJ-SIF2016 Official Brochure</strong> downloads are available now!</p>
                    <a href="#download">Click here!</a>                    
                </li>
                <li class="list-group-item">
                    <p><i class="fa fa-file-o fa-fw" aria-hidden="true"></i>&nbsp;<strong>Poster Presentation Sample</strong> download is available now!</p>
                    <a href="#download">Click here!</a>                    
                </li>
                <li class="list-group-item">
                    <p><i class="fa fa-file-o fa-fw" aria-hidden="true"></i>&nbsp;<strong>New domitory information</strong> is available now!</p>
                    <a href="#download">Click here!</a>                    
                </li>
                <li class="list-group-item">
                    <p><i class="fa fa-file-o fa-fw" aria-hidden="true"></i>&nbsp;<strong>Full Paper Samples</strong> download are available now!</p>
                    <a href="#download">Click here!</a>                    
                </li>
            </ul>
        </div>
    </div>
</div>
