<div class="whats new">    
    <h2 class="sub-header">About</h2>
    <dl>
        <dt>Member's site opened!</dt>
        <dd>This site provides you as follows
            <ul>
                <li>Register Your profile</li>
                <li>Create activity and confirm its attendance</li>
                <li>Create project information and upload related files</li>
                <li>Show all members, projects and organizations</li>
                <li>Post what's on your mind and comment the orthers</li>
                <li>And so on...</li>
            </ul>
        </dd>
    </dl>
</div>