{#<footer class="fotter container-fluid">
    <small><a href="/">Copyright (C) 2016 TJ-SIF Secretariat All Rights Reserved.</a></small>
</footer>#}
<footer class="footer">
    <div class="container">
        <div class="row  pad-bottom">
            <div class="col-md-4">
                <h4><strong>TJ-SIF 2016 Secretariat</strong></h4>
                <h5>Princess Chulabhorn Science High School Chonburi</h5>
                <p>695 M.3 Nongchak Banbueng Chonburi 20170 Thailand</p>
                <a href="/"></a>
            </div>
            <div class="col-md-4">
                <h4><strong>Social Media</strong></h4>
                <p>
                    <a href="#"><i class="fa fa-facebook-square fa-3x"></i></a>
                    <a href="#"><i class="fa fa-twitter-square fa-3x"></i></a>
                    <a href="#"><i class="fa fa-linkedin-square fa-3x"></i></a>
                    <a href="#"><i class="fa fa-google-plus-square fa-3x"></i></a>
                </p>
            </div>
            <div class="col-md-4">
                <h4><strong>Contact</strong></h4>
                <p>Email: tjsif2016@gmail.com</p>
                <p>Tel: +66 (0) 3848 5149</p>
                <p>Fax: +66 (0) 3848 5149 #100</p>
                <a href="/">Inquiry</a>
            </div>
        </div>
    </div>
</footer>
