<section id="footer" class="footer">
    <div class="container">
        <h2><strong>TJ-SIF 2016 SECRETARIAT</strong></h2>
        <h3>Princess Chulabhorn Science High School Chonburi&nbsp;<a href="http://pccchon.ac.th/" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a></h3>
        <h4>695 M.3 Nongchak Banbueng Chonburi 20170 Thailand</h4>
            <ul class="fa-ul">
                <li><i class="fa fa-link fa-fw" aria-hidden="true"></i>&nbsp;<a href="{{ path("homepage") }}">http://tjsif2016.pccchon.ac.th</a><li>
                <li><i class="fa fa-facebook-official fa-fw" aria-hidden="true"></i>&nbsp;<a href="http://www.facebook.com/tjsif2016/" target="_blank">http://www.facebook.com/tjsif2016/</a><li>
                <li><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>&nbsp;<a href="mailto: tjsif2016@gmail.com">tjsif2016@gmail.com</a></li>
                <li><i class="fa fa-phone fa-fw" aria-hidden="true"></i>&nbsp;+66 (0) 3848 5149</li>
                <li><i class="fa fa-fax fa-fw" aria-hidden="true"></i>&nbsp;+66 (0) 3848 5149 #100</li>
            </ul>
    </div><!-- /.container -->
    <div class="copyright text-center"><small>© Thailand-Japan Student ICT Fair 2016</small></div>
</section>
