{#<footer class="fotter container-fluid">
    <small><a href="/">Copyright (C) 2016 TJ-SIF Secretariat All Rights Reserved.</a></small>
</footer>#}
<section id="footer" class="footer">
    <div class="container">
        <h2><strong>TJ-SIF 2016 SECRETARIAT</strong></h2>
        <h3>Princess Chulabhorn Science High School Chonburi</h3>
        <h4>695 M.3 Nongchak Banbueng Chonburi 20170 Thailand</h4>
            <ul class="fa-ul">
                <li><i class="fa fa-link fa-fw" aria-hidden="true"></i>&nbsp;<a href="{{ path("homepage") }}">http://tjsif2016.pccchon.ac.th</a><li>
                <li><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>&nbsp;<a href="mailto: tjsif2016@gmail.com">tjsif2016@gmail.com</a></li>
                <li><i class="fa fa-phone fa-fw" aria-hidden="true"></i>&nbsp;+66 (0) 3848 5149</li>
                <li><i class="fa fa-fax fa-fw" aria-hidden="true"></i>&nbsp;+66 (0) 3848 5149 #100</li>
            </ul>
    </div><!-- /.container -->
    <div class="copyright text-center"><small>© Thailand-Japan Student ICT Fair 2016</small></div>
</section>

{#<div class="row  pad-bottom">
            <div class="col-md-6">
                <address>
                <h4><strong>TJ-SIF 2016 Secretariat</strong></h4>
                <h5>Princess Chulabhorn Science High School Chonburi</h5>
                <p>695 M.3 Nongchak Banbueng Chonburi 20170 Thailand</p>
                <a href="/"></a>
                </address>
            </div>
            <div class="col-md-4">
                <h4><strong>Social Media</strong></h4>
                <p>
                    <a href="#"><i class="fa fa-facebook-square fa-3x"></i></a>
                    <a href="#"><i class="fa fa-twitter-square fa-3x"></i></a>
                    <a href="#"><i class="fa fa-linkedin-square fa-3x"></i></a>
                    <a href="#"><i class="fa fa-google-plus-square fa-3x"></i></a>
                </p>
            </div>
            <div class="col-md-6">
                <address>
                <h4><strong>Contact</strong></h4>
                <p>Email: tjsif2016@gmail.com</p>
                <p>Tel: +66 (0) 3848 5149<br>Fax: +66 (0) 3848 5149 #100</p>
                </address>
            </div>
            <div class="col-xs-12 copyright text-center"><small>© Thailand-Japan Student ICT Fair 2016</small></div>
        </div>#}