<section id="howtojoin" class="howtojoin">
    <div class="container">
        <h1>How to join?</h1>
        <h3><p class="text-warning">How to become a member of TJ-SIF2016...</h3>
        <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
                <h3><span class="featurette-heading-title">For students</span></h3>
                <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                <h3><span class="featurette-heading-title">For teachers</span></h3>
                <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 col-md-pull-7">
                <img class="featurette-image img-responsive center-block" src="{{ asset('/images/featurette/IMG_03_07_500.jpg') }}" alt="About picture">
            </div>
        </div>

    <hr class="featurette-divider">
        
    </div><!-- /.container -->
</section><!-- /about-->
