<section id="howtojoin" class="howtojoin">
    <div class="container">
        <h1>How to join?</h1>
        <div class="alert alert-warning" role="alert">
            <p class="lead"><a href="#schedule" class=""><i class="fa fa-flag-o fa-fw" aria-hidden="true"></i>&nbsp;Registration deadline is extended until 31st August!</a></p>
        </div>
        <h3><p class="text-warning"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp;Step by Step Guide <small>- Registration Workflow- </small></h3>
        <div class="row featurette">
            <div class="col-md-7">
                <div class="panel-group" id="accordion-join" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-success">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion-join" href="#stepOne" aria-expanded="true" aria-controls="stepOne">
                                    <div class="step-title">STEP 1. Getting the invitation from TJ-SIF2016 SECRETARIAT</div><div class="step-title-icon"><i class="fa fa-angle-double-down fa-fw" aria-hidden="true"></i></div>
                                </a>
                            </h4>
                        </div>
                        <div id="stepOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <p>TJ-SIF2016 SECRETARIAT has already sent the invitations to both of English & computer contact persons at each PCSH Schools. <u>If you are a contact person at a PCSHS and have not got the invitation yet, please ask TJ-SIF2016 SECRETARIAT for it immediately.</u></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-join" href="#stepTwo" aria-expanded="false" aria-controls="stepTwo">
                                    <div class="step-title">STEP 2. Contact Person Registration</div><div class="step-title-icon"><i class="fa fa-angle-double-down fa-fw" aria-hidden="true"></i></div>
                                </a>
                            </h4>
                        </div>
                        <div id="stepTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <p>The contact persons in PCSHS <strong>MUST</strong> register first.</p>
                                <p>When register your information, choose account type:</p>
                                <ul class="list-unstyled">
                                    <li>A. The English contact person is a <mark>“Contact person”</mark>.</li>
                                    <li>B. The computer contact person who…
                                        <ul>
                                            <li>B-1. takes care of student projects is a <mark>“Participant”</mark>.</li>
                                            <li>B-2. doesn’t take care of student projects is a <mark>“Contact person”</mark>.</li>
                                        </ul>
                                    </li>
                                </ul>
                                <table class="table table-bordered table-hover table-condensed">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th class="text-center">The kind of CP</th>
                                            <th class="text-center">Students project</th>
                                            <th class="text-center">Account type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="danger">
                                            <td class="text-center">A</td>
                                            <td class="text-center">English</td>
                                            <td class="text-center">-</td>
                                            <td class="text-center">"Contact person"</td>
                                        </tr>
                                        <tr class="info">
                                            <td class="text-center">B-1</td>
                                            <td class="text-center">Computer</td>
                                            <td class="text-center"><i class="fa fa-check-square-o fa-fw" aria-hidden="true"></i></td>
                                            <td class="text-center">"Participant"</td>
                                        </tr>
                                        <tr class="danger">
                                            <td class="text-center">B-2</td>
                                            <td class="text-center">Computer</td>
                                            <td class="text-center"><i class="fa fa-square-o fa-fw" aria-hidden="true"></i></td>
                                            <td class="text-center">"Contact person"</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-join" href="#stepThree" aria-expanded="false" aria-controls="stepThree">
                                    <div class="step-title">STEP 3. Sending the Invitations</div><div class="step-title-icon"><i class="fa fa-angle-double-down fa-fw" aria-hidden="true"></i></div>
                                </a>
                            </h4>
                        </div>
                        <div id="stepThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <p>The contact persons in PCSHS send the invitation to the other contact person and related teachers. When the contact person logs in, you can see the link <strong>"Invitation"</strong> on the right top in the navigation menu. Click <strong>"Invitation"</strong>, enter the user's name which is used only in the invitation mail and email address twice, then click <button type="button" class="btn btn-success">Send invitation</button> to send the invitation.</p>
                                <p>The contact person should send the invitation to:</p>
                                <ul class="list-unstyled">
                                    <li>A. The English contact person: The contact person in SSH in Japan</li>
                                    <li>B. The computer contact person: The contact person in sister school in Thailand</li>
                                    <li>C. Both English and computer contact persons: Teachers in your school</li>
                                </ul>
                                <table class="table table-bordered table-hover table-condensed">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th class="text-center">The kind of CP</th>
                                            <th class="text-center">Send the invitation to</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="danger">
                                            <td class="text-center">A</td>
                                            <td class="text-center">English</td>
                                            <td class="text-center">Contact person in Japan</td>
                                        </tr>
                                        <tr class="info">
                                            <td class="text-center">B</td>
                                            <td class="text-center">Computer</td>
                                            <td class="text-center">Contact person in Thailand</td>
                                        </tr>
                                        <tr class="warning">
                                            <td class="text-center">C</td>
                                            <td class="text-center">English / Computer</td>
                                            <td class="text-center">Teachers in your school</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-join" href="#stepFour" aria-expanded="false" aria-controls="stepFour">
                                    <div class="step-title">STEP 4. Teachers Registration</div><div class="step-title-icon"><i class="fa fa-angle-double-down fa-fw" aria-hidden="true"></i></div>
                                </a>
                            </h4>
                        </div>
                        <div id="stepFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <p>When you get the invitation mail from the contact person in your school, click the link in the mail and then register your personal information.</p>
                                <p>When you register your information, choose your account type as follows.<br>Teacher who…</p>
                                <ul class="list-unstyled">
                                    <li>A. takes care of students projects is a <mark>“Participant”</mark>.</li>
                                    <li>B. doesn’t take care of students projects but who
                                        <ul>
                                            <li>B-1. is going to TJ-SIF2016 is a <mark>“Operation staff”</mark>.</li>
                                            <li>B-2. is not going to TJ-SIF2016 is a <mark>“Observer”</mark>.</li>
                                        </ul>
                                    </li>
                                </ul>
                                <table class="table table-bordered table-hover table-condensed">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th class="text-center">Students project</th>
                                            <th class="text-center">Attend TJ-SIF</th>
                                            <th class="text-center">Account type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="info">
                                            <td class="text-center">A</td>
                                            <td class="text-center"><i class="fa fa-check-square-o fa-fw" aria-hidden="true"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o fa-fw" aria-hidden="true"></i></td>
                                            <td class="text-center">"Participant"</td>
                                        </tr>
                                        <tr class="warning">
                                            <td class="text-center">B-1</td>
                                            <td class="text-center"><i class="fa fa-square-o fa-fw" aria-hidden="true"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o fa-fw" aria-hidden="true"></i></td>
                                            <td class="text-center">"Operation staff"</td>
                                        </tr>
                                        <tr class="danger">
                                            <td class="text-center">B-2</td>
                                            <td class="text-center"><i class="fa fa-square-o fa-fw" aria-hidden="true"></i></td>
                                            <td class="text-center"><i class="fa fa-square-o fa-fw" aria-hidden="true"></i></td>
                                            <td class="text-center">"Observer"</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <blockquote>
                                    <p><strong>Note:</strong> Every invitation link is <strong>unique</strong> so that you <strong>can not use</strong> the link for or from others. If you have not got the invitation yet, please ask the contact person in your school.</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-join" href="#stepFive" aria-expanded="false" aria-controls="stepFive">
                                    <div class="step-title">STEP 5. Inviting Students</div><div class="step-title-icon"><i class="fa fa-angle-double-down fa-fw" aria-hidden="true"></i></div>
                                </a>
                            </h4>
                        </div>
                        <div id="stepFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                <p>The teachers who register their information as <mark>“Participant”</mark>, this means the teacher is supporting at least one or more students projects, will send the invitations to the students.</p>
                                <p>How to send the invitation is the same way the contact person do. Please see <em>"STEP3. Sending the Invitation"</em></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-join" href="#stepSix" aria-expanded="false" aria-controls="stepSix">
                                    <div class="step-title">STEP 6. Students Registration</div><div class="step-title-icon"><i class="fa fa-angle-double-down fa-fw" aria-hidden="true"></i></div>
                                </a>
                            </h4>
                        </div>
                        <div id="stepSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="panel-body">
                                <p>The students who receive the invitation from your teacher should register your personal information by clicking the link in the invitation mail.</p>
                                <p>When you register your information, choose your account type as follows.<br>Student who…</p>
                                <ul class="list-unstyled">
                                    <li>A. is going to participate having students project is a <mark>“Participant”</mark>.</li>
                                    <li>B. is going to help the backstage work at the venue is a <mark>“Operation staff”</mark>.</li>
                                    <li>C. is the other than above is a <mark>“Observer”</mark>.</li>
                                </ul>
                                <table class="table table-bordered table-hover table-condensed">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th class="text-center">Students project</th>
                                            <th class="text-center">Help the event</th>
                                            <th class="text-center">Account type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="info">
                                            <td class="text-center" rowspan="2">A</td>
                                            <td class="text-center"><i class="fa fa-check-square-o fa-fw" aria-hidden="true"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o fa-fw" aria-hidden="true"></i></td>
                                            <td class="text-center" rowspan="2">"Participant"</td>
                                        </tr>
                                        <tr class="info">
                                            <td class="text-center"><i class="fa fa-check-square-o fa-fw" aria-hidden="true"></i></td>
                                            <td class="text-center"><i class="fa fa-square-o fa-fw" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr class="warning">
                                            <td class="text-center">B</td>
                                            <td class="text-center"><i class="fa fa-square-o fa-fw" aria-hidden="true"></i></td>
                                            <td class="text-center"><i class="fa fa-check-square-o fa-fw" aria-hidden="true"></i></td>
                                            <td class="text-center">"Operation staff"</td>
                                        </tr>
                                        <tr class="danger">
                                            <td class="text-center">C</td>
                                            <td class="text-center"><i class="fa fa-square-o fa-fw" aria-hidden="true"></i></td>
                                            <td class="text-center"><i class="fa fa-square-o fa-fw" aria-hidden="true"></i></td>
                                            <td class="text-center">"Observer"</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-join" href="#stepSeven" aria-expanded="false" aria-controls="stepSeven">
                                    <div class="step-title">STEP 7. Projects Registration</div><div class="step-title-icon"><i class="fa fa-angle-double-down fa-fw" aria-hidden="true"></i></div>
                                </a>
                            </h4>
                        </div>
                        <div id="stepSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                            <div class="panel-body">
                                <p>The teachers who register their information as <mark>“Participant”</mark> should create some students project from <strong>“Informations > Projects”</strong> on the navigation menu on the top, then click <button type="button" class="btn btn-default">New</button> to create a project.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 visible-lg visible-md">
                <img class="featurette-image img-responsive center-block" src="{{ asset('/images/featurette/IMG_03_07_500.jpg') }}" alt="About picture">
            </div>
            {{ render(controller('AppBundle:Statistics:defaultpage')) }}
        </div><!-- /.row featurette -->
        <hr class="featurette-divider">
    </div><!-- /.container -->
</section><!-- /howtojoin -->
