<section id="schedule" class="schedule">
    <div class="container">
        <h1>Schedule</h1>
        <h3 class="text-warning"><i class="fa fa-hourglass-end fa-fw" aria-hidden="true"></i>&nbsp;Deadline for account registration and submission of some documents</h3>
        <div class="row">
            <div class="col-md-9 col-md-push-3">
                <div class="row">
                    <div class="col-xs-12">
                        <h4><span class="text-muted"><i class="fa fa-key fa-fw" aria-hidden="true"></i>&nbsp;Key dates for the schools in <strong>Thailand</strong><small>&nbsp;excludes two schools as follows</small></span></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-registered fa-fw" aria-hidden="true"></i><strong>Aug. 31, 2016</strong></h3>
                            </div>
                            <div class="panel-body">
                                <p>Last day to register your account.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-paper-plane-o fa-fw" aria-hidden="true"></i><strong>Sep. 1, 2016</strong></h3>
                            </div>
                            <div class="panel-body">
                                <p>Deadline for abstracts submission.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-comment-o fa-fw" aria-hidden="true"></i><strong>Sep. 12, 2016</strong></h3>
                            </div>
                            <div class="panel-body">
                                <p>Notification for abstracts acceptance.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-paper-plane-o fa-fw" aria-hidden="true"></i><strong>Oct. 30, 2016</strong></h3>
                            </div>
                            <div class="panel-body">
                                <p>Deadline for full papers submission.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h5><i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i>&nbsp;These deadline are only applied to <strong>Mahidol Wittayanusorn School</strong> and <strong>Kamnoetvidya Science Academy</strong></h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-registered fa-fw" aria-hidden="true"></i><strong>Oct. 15, 2016</strong></h3>
                            </div>
                            <div class="panel-body">
                                <p>Last day to register your account.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-paper-plane-o fa-fw" aria-hidden="true"></i><strong>Oct. 30, 2016</strong></h3>
                            </div>
                            <div class="panel-body">
                                <p>Deadline for abstracts submission.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-comment-o fa-fw" aria-hidden="true"></i><strong>Nov. 15, 2016</strong></h3>
                            </div>
                            <div class="panel-body">
                                <p>Notification for abstracts acceptance.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-paper-plane-o fa-fw" aria-hidden="true"></i><strong>Nov. 30, 2016</strong></h3>
                            </div>
                            <div class="panel-body">
                                <p>Deadline for full papers submission.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h4><span class="text-muted"><i class="fa fa-key fa-fw" aria-hidden="true"></i>&nbsp;Key dates for the schools in <strong>Japan</strong></span></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-registered fa-fw" aria-hidden="true"></i><strong>Sep. 15, 2016</strong></h3>
                            </div>
                            <div class="panel-body">
                                <p>Last day to register your account.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-paper-plane-o fa-fw" aria-hidden="true"></i><strong>Sep. 30, 2016</strong></h3>
                            </div>
                            <div class="panel-body">
                                <p>Deadline for abstracts submission.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-comment-o fa-fw" aria-hidden="true"></i><strong>Oct. 15, 2016</strong></h3>
                            </div>
                            <div class="panel-body">
                                <p>Notification for abstracts acceptance.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-paper-plane-o fa-fw" aria-hidden="true"></i><strong>Oct. 30, 2016</strong></h3>
                            </div>
                            <div class="panel-body">
                                <p>Deadline for full papers submission.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <p><strong>Note: </strong><small>For Japanese schools which have started the new semester since 1 Sep., the registration is postponed by 15 Sep. 2016.</small></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-md-pull-9">
                <img class="featurette-image img-responsive center-block" src="{{ asset('/images/featurette/IMG_00_02_500.jpg') }}" alt="About picture">
                <hr class="featurette-divider">
                <a class="btn btn-success btn-lg btn-block" href="#howtojoin" role="button"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>&nbsp;How to join?</a>
            </div>
        </div>
    <hr class="featurette-divider">
    </div><!-- /.container -->
</section><!-- /schedule-->
