<section id="howtojoin" class="howtojoin">
    <div class="container">
        <h1>How to join?</h1>
        <div class="alert alert-warning" role="alert">
            <p class="lead"><a href="#schedule" class=""><i class="fa fa-flag-o fa-fw" aria-hidden="true"></i>&nbspRegistration deadline is extended until 31st August!</a></p>
        </div>
        <h3><p class="text-warning"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbspStep by Step Guide <small>- Registration Workflow- </small></h3>
        <div class="row featurette">
            <div class="col-md-7">
                <div class="panel-group" id="accordion-join" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-success">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion-join" href="#stepOne" aria-expanded="true" aria-controls="stepOne">
                                    STEP 1. Getting the invitation from TJ-SIF2016 SECRETARIAT
                                </a>
                            </h4>
                        </div>
                        <div id="stepOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <p>TJ-SIF2016 SECRETARIAT has already sent the invitations to both of English & computer contact persons at each PCSH Schools. <u>If you are a contact person in PCSHS and have not got the invitation yet, please ask SECRETARIAT for it immediately.</u></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-join" href="#stepTwo" aria-expanded="false" aria-controls="stepTwo">
                                    STEP 2. Contact Person Registration
                                </a>
                            </h4>
                        </div>
                        <div id="stepTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <p>Contact persons  in PCSHS <strong>MUST</strong> register first.</p>
                                <p>When register your information, choose account type:</p>
                                <ul class="list-unstyled">
                                    <li>A. English contact person: <mark>“Contact person”</mark>.</li>
                                    <li>B. Computer contact person who…
                                        <ul>
                                            <li>B-1. takes care student project: <mark>“Participant”</mark></li>
                                            <li>B-2. doesn’t care student project: <mark>“Contact person”</mark></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-join" href="#stepThree" aria-expanded="false" aria-controls="stepThree">
                                    STEP 3. Sending the Invitations
                                </a>
                            </h4>
                        </div>
                        <div id="stepThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <p>Contact persons in PCSHS send the invitation to another contact person and related teachers. When contact person login, you can see the link <strong>"Invitation"</strong> on the top-right in the navigation menu. Click <strong>"Invitation"</strong>, enter user name which is used only in the invitation mail and email address twice, then click <button type="button" class="btn btn-success">Send invitation</button> to send the invitation.</p>
                                <p>Contact person should send the invitation to:</p>
                                <ul class="list-unstyled">
                                    <li>A. English contact person: contact person in SSH in Japan</li>
                                    <li>B. Computer contact person: contact person in sister school in Thailand</li>
                                    <li>C. Both of contact person: teachers in your school</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-join" href="#stepFour" aria-expanded="false" aria-controls="stepFour">
                                    STEP 4. Teachers Registration
                                </a>
                            </h4>
                        </div>
                        <div id="stepFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <p>When you get the invitation mail from contact person in your school, click the link in the mail then register your personal information.</p>
                                <p>When register your information, choose account type as follows.<br>Teacher who…</p>
                                <ul class="list-unstyled">
                                    <li>A. takes care student project: <mark>“Participant”</mark></li>
                                    <li>B. doesn’t care student project but who
                                        <ul>
                                            <li>B-1. is going to TJ-SIF2016: <mark>“Operation staff”</mark></li>
                                            <li>B-2. is not going to TJ-SIF2016: <mark>“Observation”</mark></li>
                                        </ul>
                                    </li>
                                    <blockquote>
                                        <p><strong>Note:</strong> Every invitation link is <strong>unique</strong> so that you can not use the link the other’s. You have not got the invitation yet, please ask contact person in your school.</p>
                                    </blockquote>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-join" href="#stepFive" aria-expanded="false" aria-controls="stepFive">
                                    STEP 5. Inviting Students
                                </a>
                            </h4>
                        </div>
                        <div id="stepFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                <p>Teachers who register their information with <mark>“Participant”</mark> --- this means teacher will support student project --- send the invitations to the students.</p>
                                <p>How to send the invitation is the same as contact person. Please see <em>"STEP3. Sending the Invitatioin"</em></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-join" href="#stepSix" aria-expanded="false" aria-controls="stepSix">
                                    STEP 6. Projects Registering
                                </a>
                            </h4>
                        </div>
                        <div id="stepSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="panel-body">
                                <p>Teachers who register their information with <mark>“Participant”</mark> should create some student project from <strong>“informations > projects”</strong> on the navigation menu on the top, then click <button type="button" class="btn btn-default">New</button> to create project.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                {#<h3><span class="featurette-heading-title">STEP 1. Getting the invitation from TJ-SIF2016 SECRETARIAT</span></h3>
                <p>TJ-SIF2016 SECRETARIAT already sent the invitations to both of English & computer contact persons each PCSH Schools. <u>If you are a contact person in PCSHS and haven not got the invitation yet, please ask SECRETARIAT for it immediately.</u></p>
                <h3><span class="featurette-heading-title">STEP 2. Registration of Contact Person</span></h3>   
                <p>Contact persons  in PCSHS <strong>MUST</strong> register first.</p>
                <p>When register your information, choose account type:</p>
                <ul class="list-unstyled">
                    <li>A. English contact person: <mark>“Contact person”</mark>.</li>
                    <li>B. Computer contact person who…
                        <ul>
                            <li>B-1. takes care student project: <mark>“Participant”</mark></li>
                            <li>B-2. doesn’t care student project: <mark>“Contact person”</mark></li>
                        </ul>
                    </li>
                </ul>
                <h3><span class="featurette-heading-title">STEP 3. Sending the Invitation</span></h3>
                <p>Contact persons in PCSHS send the invitation to another contact person and related teachers. When contact person login, you can see the link <strong>"Invitation"</strong> on the top-right in the navigation menu. Click <strong>"Invitation"</strong>, enter user name which is used only in the invitation mail and email address twice, then click <button type="button" class="btn btn-success">Send invitation</button> to send the invitation.</p>
                <p>Contact person should send the invitation to:</p>
                <ul class="list-unstyled">
                    <li>A. English contact person: contact person in SSH in Japan</li>
                    <li>B. Computer contact person: contact person in sister school in Thailand</li>
                    <li>C. Both of contact person: teachers in your school</li>
                </ul>
                <h3><span class="featurette-heading-title">STEP 4. Registration of Teachers</span></h3>
                <p>When you get the invitation mail from contact person in your school, click the link in the mail then register your personal information.</p>
                <p>When register your information, choose account type as follows.<br>Teacher who…</p>
                <ul class="list-unstyled">
                    <li>A. takes care student project: <mark>“Participant”</mark></li>
                    <li>B. doesn’t care student project but who
                        <ul>
                            <li>B-1. is going to TJ-SIF2016: <mark>“Operation staff”</mark></li>
                            <li>B-2. is not going to TJ-SIF2016: <mark>“Observation”</mark></li>
                        </ul>
                    </li>
                    <blockquote>
                        <p><strong>Note:</strong> Every invitation link is <strong>unique</strong> so that you can not use the link the other’s. You have not got the invitation yet, please ask contact person in your school.</p>
                    </blockquote>
                </ul>
                <h3><span class="featurette-heading-title">STEP 5. Inviting Students</span></h3>
                <p>Teachers who register their information with <mark>“Participant”</mark> --- this means teacher will support student project --- send the invitations to the students.</p>
                <p>How to send the invitation is the same as contact person. Please see <em>"STEP3. Sending the Invitatioin"</em></p>
                <h3><span class="featurette-heading-title">STEP 6. Registering Project</span></h3>
                <p>Teachers who register their information with <mark>“Participant”</mark> should create some student project from <strong>“informations > projects”</strong> on the navigation menu on the top, then click <button type="button" class="btn btn-default">New</button> to create project.</p>
            </div>#}
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" src="{{ asset('/images/featurette/IMG_03_07_500.jpg') }}" alt="About picture">
            </div>
        </div>
        {#
        <h3><p class="text-warning">How to become a member of TJ-SIF2016...</h3>
        <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
                <p>Member page registration is only for people who has an invitation. If you do not have it...</p>
                <h3><span class="featurette-heading-title">For students</span></h3>
                <p>Ask your teacher for sending the invitation for you.</p>
                <h3><span class="featurette-heading-title">For teachers</span></h3>
                <p>Ask representative teacher in your school who would have the privilege to be able to send the invitation for you. If your are representative teacher in your school, please send the invitation to all of students and teachers who will papticipate the event, and also any other concerned people in your school. Thank you.</p>
                <div class="alert alert-danger" role="alert">
                <p><i class="fa fa-exclamation" aria-hidden="true"></i>&nbsp;If your are Thai teacher and has the privilege to be able to send the invitation, ensure that your invitation is also sent to teachers who are school representatives in SSH School in Japan and in your sister school in Thailand</p>
                </div>
            </div>
            <div class="col-md-5 col-md-pull-7">
                <img class="featurette-image img-responsive center-block" src="{{ asset('/images/featurette/IMG_03_07_500.jpg') }}" alt="About picture">
            </div>
        </div>#}
    <hr class="featurette-divider">
    </div><!-- /.container -->
</section><!-- /about-->
