<section id="schedule" class="schedule">
    <div class="container">
        <h1>Schedule</h1>
        <h3 class="text-warning"><i class="fa fa-hourglass-end fa-fw" aria-hidden="true"></i>&nbspDeadline for account registration and submission of some documents</h3>
        <div class="row">
            <div class="col-md-9 col-md-push-3">
                <h4><span class="text-muted">Key dates&nbsp<i class="fa fa-key fa-fw" aria-hidden="true"></i></span></h4>
                <div class="col-sm-3">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-registered fa-fw" aria-hidden="true"></i><strong>Aug. 31, 2016</strong></h3>
                        </div>
                        <div class="panel-body">
                            <p>Last day to register your account.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-paper-plane-o fa-fw" aria-hidden="true"></i><strong>Sep. 1, 2016</strong></h3>
                        </div>
                        <div class="panel-body">
                            <p>Deadline for abstracts submission.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-comment-o fa-fw" aria-hidden="true"></i><strong>Sep 12, 2016</strong></h3>
                        </div>
                        <div class="panel-body">
                            <p>Notification for abstracts acceptance.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-paper-plane-o fa-fw" aria-hidden="true"></i><strong>Oct. 30, 2016</strong></h3>
                        </div>
                        <div class="panel-body">
                            <p>Deadline for full papers submission.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-md-pull-9">
                <img class="featurette-image img-responsive center-block" src="{{ asset('/images/featurette/IMG_00_02_500.jpg') }}" alt="About picture">
            </div>
        </div>
    <hr class="featurette-divider">
    </div><!-- /.container -->
</section><!-- /about-->
