<section id="program" class="program">
    <div class="container">
        <h1>Program</h1>
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8">
                <div class="panel panel-success">
                    <div class="panel-heading text-center">Tuesday 20 December 2016</div>
                    <div class="panel-body text-center">Preparation day</div>
                    <table class="table table-hover">
                        <tbody>
                            <tr><td>Arival</td></tr>
                            <tr><td>Registration and check-in dormitory</td></tr>
                            <tr><td>Setting-up of Projects Demonstration and Industrial Exhibition</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="col-sm-offset-2 col-sm-8">
                <div class="panel panel-info">
                    <div class="panel-heading text-center">Tuesday 21 December 2016</div>
                    <div class="panel-body text-center">Day 1</div>
                    <table class="table table-hover">
                        <tbody>
                            <tr><td>Opening Ceremony</td></tr>
                            <tr><td>Oral Presentation</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="col-sm-offset-2 col-sm-8">
                <div class="panel panel-info">
                    <div class="panel-heading text-center">Tuesday 22 December 2016</div>
                    <div class="panel-body text-center">Day 2</div>
                    <table class="table table-hover">
                        <tbody>
                            <tr><td>Oral Presentation</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="col-sm-offset-2 col-sm-8">
                <div class="panel panel-info">
                    <div class="panel-heading text-center">Tuesday 23 December 2016</div>
                    <div class="panel-body text-center">Day 3</div>
                    <table class="table table-hover">
                        <tbody>
                            <tr><td>Field trip to ICT factories</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="col-sm-offset-2 col-sm-8">
                <div class="panel panel-success">
                    <div class="panel-heading text-center">Tuesday 24 December 2016</div>
                    <div class="panel-body text-center">Cleanup day</div>
                    <table class="table table-hover">
                        <tbody>
                            <tr><td>Departure</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>