<div class="col-xs-12">
    <div class="collapse" id="collapseRegistration">
        <a data-toggle="collapse" href="#collapseRegistration" aria-expanded="false" aria-controls="collapseRegistration">
            <h3><p class="text-warning"><p class="text-warning"><i class="fa fa-registered fa-fw" aria-hidden="true"></i>&nbsp;Registration Status - Member</p></h3>
        </a>
        {{ include('components/_table_member_statistics.html.twig', { 'withlink': false}) }}
    </div>
    <button class="btn btn-default btn-lg" type="button" data-toggle="collapse" data-target="#collapseRegistration" aria-expanded="false" aria-controls="collapseRegistration">
        <i class="fa fa-th-list fa-fw" aria-hidden="true"></i>&nbsp;View current registration status - Member
    </button>
</div>
