<section id="about" class="about">
    <div class="container">
        <h1>Thailand - Japan Student ICT Fair 2016</h1>
        <h3><p class="text-warning"><i class="fa fa-building-o fa-fw" aria-hidden="true"></i>&nbspAt Princess Chulabhorn Science High School Chonburi</p></h3>
        <div class="row">
            <div class="col-md-7">
                <h4><span class="text-muted">21st - 23rd December 2016</span></h4>
                <p>Following last year <strong>Thailand - Japan Student Science Fair 2015 (TJ-SSF 2015) <a href="http://www.tjssf2015.net/" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a></strong> that was held at PCSHS Phetchaburi to mark the end of the festival and assuring a deeper understanding of science and a close friendship among Thai and Japanese youth. And now the time has come!<p>
                <p>This year, we will hold the second Thailand-Japan Students Science Fair. It is again organized with emphasize on students science projects on Information and Communication Technology (ICT). The topics cover <mark>applications and software</mark>, <mark>robotics and hardware</mark> and <mark>the Internet of Things (IoT).</mark></p>
                <p>The 2016 Science Fair is called <strong>"Thailand-Japan Student ICT Fair 2016 (TJ-SIF2016)"</strong> and it will be held at Princess Chulabhorn Science High School Chonburi (PCSH School Chonburi) from 21 to 23 December 2016.</p>
                <p>Hope to see everyone ready to share, learn and have fun!</p>
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-responsive center-block" src="{{ asset('/images/featurette/IMG_00_01_500.jpg') }}" alt="About picture">
            </div>
        </div><!-- /.row -->
        <hr class="featurette-divider">
    </div><!-- /.container -->
</section><!-- /about-->