<section id="ssh" class="ssh">
    <div class="container">
        <h1>Super Science High Schools</h1>
        <div class="row">
            <div class="col-md-7 col-md-push-5">
                <p><strong>Super Science High Schools (SSH Schools)</strong> are senior high schools that prioritize science, technology and mathematics and in so doing that receive the SSH designation awarded by the Japanese Ministry of Education, Culture, Sports, Science and Technology (MEXT). The program was launched as part of its “Science Literacy Enhancement Initiatives” in 2002. <p>
                <p>SSH schools with this status receive increased funding and are encouraged to develop links with universities and other academic institutions. Selected high schools are expected to develop curricula based on science and mathematics in cooperation with universities or research institutes.</p>
                <p>In 2002, the first year of operation, 26 out of 77 applicant schools were awarded SSH status. As of the 2006 Academic year there are 201 schools with the designation.</p>
            </div>
            <div class="col-md-5 col-md-pull-7">
              <img class="featurette-image img-responsive center-block" src="{{ asset('/images/logos/ssh.jpg') }}" alt="SSH logo">
            </div>
        </div><!-- /.row -->
        <hr class="featurette-divider">
    </div><!-- /.container -->
</section><!-- /ssh-->
