<section id="projects" class="projects">
    <div class="container">
        <h1>Student projects</h1>
        <div class="row">
            <div class="col-xs-12">
                <p>Among Grade 11 Students of Princess Chulabhorn Science High Schools (PCSH Schools), the sister school in Thai and Super Science High Schools (SSH Schools) in Japan</p>
                <p>All presentations should be in <code>English</code></p>
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">School type</th>
                            <th class="text-center">The number of projects per school</th>
                            <th class="text-center">The number of schools</th>
                            <th class="text-center">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>PCSH School</td><td class="text-center">3</td><td class="text-center">12</td><td class="text-center">36</td></tr>
                        <tr><td>Sister School in Thai</td><td class="text-center">1</td><td class="text-center">12</td><td class="text-center">12</td></tr>
                        <tr><td>Sister SSH School in Japan</td><td class="text-center">1</td><td class="text-center">12</td><td class="text-center">12</td></tr>
                        <tr><td class="text-center" colspan="2"><strong>Total</strong></td><td class="text-center"><strong>36</strong></td><td class="text-center"><strong>60</strong></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        {% include "components/section_project_categories.html.twig" %}
        
        <hr class="featurette-divider">
    </div><!-- /.container-->
</section><!-- /projects-->
