<section id="howtojoin" class="howtojoin">
    <div class="container">
        <h1>How to join?</h1>
        <h3><p class="text-warning">How to become a member of TJ-SIF2016...</h3>
        <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
                <p>Member page registration is only for people who has an invitation. If you do not have it...</p>
                <h3><span class="featurette-heading-title">For students</span></h3>
                <p>Ask your teacher for sending the invitation.</p>
                <h3><span class="featurette-heading-title">For teachers</span></h3>
                <p>Ask teacher in your school who can send the invitation. If your are people who can send the invitation, please send it to students and teachers in your school.</p>
                <div class="alert alert-danger" role="alert">
                <p><i class="fa fa-exclamation" aria-hidden="true"></i> If your are Thai teacher and has the privilege to be able to send the invitation, ensure that your invitation is also sent to teachers who are school representatives in SSH School in Japan and in sister school in Thailand</p>
                </div>
            </div>
            <div class="col-md-5 col-md-pull-7">
                <img class="featurette-image img-responsive center-block" src="{{ asset('/images/featurette/IMG_03_07_500.jpg') }}" alt="About picture">
            </div>
        </div>
    <hr class="featurette-divider">
    </div><!-- /.container -->
</section><!-- /about-->
