<section id="pcshs" class="pcshs">
    <div class="container">
        <h1>12 Princess Chulabhorn Science High Schools</h1>
        <div class="row">
            <div class="col-md-9">
                <p>Twelve <strong>Princess Chulabhorn Science High Schools (PCSH Schools)</strong> were established in 1993 in 12 regions around Thailand to celebrate the 36th birthday of Her Royal Highness Princess Chulabhorn. HRH Princess Chulabhorn has been a chemistry lecturer at Mahidol University and she is a member of <a href="http://www.u-tokyo.ac.jp/en/about/president_council.html" target="_blank">The President's Council of the University of Tokyo.</a><p>
                <p>PCSH Schools have both junior high school (grade 7 to 9) and senior high school (grade 10 to 12). Only students with excellent academic records are qualified to apply for PCSH schools.</p>
                <p>PCSH Schools have established cooperation links with Super Science High Schools (SSH Schools) of Japan.</p>
            </div>
            <div class="col-md-3">
                <img class="featurette-image center-block" src="{{ asset('/images/logos/pcshs_logo.png') }}" alt="PCSHS Logo" height="150">
            </div>
        </div><!-- /.row -->
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <img class="featurette-image img-responsive center-block" src="{{ asset('/images/pcshs/relationship.jpg') }}" alt="12 PCSHS">
            </div>    
            <div class="col-md-3">
                
            </div>
        </div><!-- /.row -->
        <hr class="featurette-divider">
    </div><!-- /.container -->
</section><!-- /pcshs-->
