<ul class="nav nav-sidebar">
    <li><a href="">Profile</a></li>
    <li><a href="{{ path("user_index") }}">User</a></li>
    <li><a href="{{ path("admin_invitation") }}">Send Invitation!</a></li>
</ul>
