<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% block title %}TJ-SIF2016{% endblock %}</title>
    
{% block stylesheets %}
    {% stylesheets
        'css/bootstrap.min.css'
        'css/font-awesome.min.css'
        'css/ie10-viewport-bug-workaround.css'
        'css/style-common.css'
        filter='cssrewrite' output='css/compiled/app.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {# <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' /> #}
{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body data-spy="scroll" data-target="#navbar" data-offset="100">
    {% block layout %}
    {% block body %}{% endblock %}
    {% endblock %}
    
    {% block javascripts %}
    {% javascripts
        'js/jquery.min.js'
        'js/bootstrap.min.js'
        'js/ie10-viewport-bug-workaround.js'
        'js/jquery.smooth-scroll.min.js'
        'js/jquery.custom.js'
        output='js/compiled/app.js' %}
        <script src="{{ asset_url }}"></script>
        <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    {% endjavascripts %}
    <script>
        $('a').smoothScroll();
    </script>
    {% endblock %}
</body>
</html>