{% extends "layout_member.html.twig" %}

{% block content %}
<div class="container">
    <div class="row bbs">
        <div class="col-sm-9 bbs-main">
        {% block bbs_main %}{% endblock %}
        </div>
        
        <div class="col-sm-3 blog-sidebar">
        {% block bbs_sidebar %}
            {{ render(controller('AppBundle:BbsPost:sidebar')) }}
        {% endblock %}
        </div>
    </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}

{% block javascripts %}
{% javascripts
    'js/jquery.min.js'
    'js/bootstrap.min.js'
    'js/bootstrap.file-input.js'
    'js/uploade.js'
    output='js/compiled/app.js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}