{% extends "base.html.twig" %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets
    'css/style-member.css'
    filter='cssrewrite' output='css/compiled/app.member.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block body %}
{% include "components/member/navbar_member.html.twig" %}
<div class="container">
    <div class="page-header">
        <h1>{% block pageheader %}{% endblock %}</h1>
    </div>
{% include "components/member/flash_messages.html.twig" %}
</div>
{% block content %}{% endblock %}
{% include "components/footer.html.twig" %}
{% endblock %}