{% extends "base.html.twig" %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets
    'css/signin.css'
    filter='cssrewrite' output='css/compiled/app.signin.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block body %}
 <div class="container">
    {% include "components/member/flash_messages.html.twig" %}
    {% block content %}{% endblock %}
</div> <!-- /container -->
{% endblock %}