<section id="statistics-registration" class="statistics-registration">
    <div class="container">
        <h2>Project status</h2>
        {{ include('components/_table_project_statistics.html.twig') }}
    </div><!-- /.container -->
</section>