<section id="statistics-registration" class="statistics-registration">
    <div class="container">
        <h2>Registration status</h2>
        {{ include('components/_table_member_statistics.html.twig', { 'withlink': true}) }}
    </div><!-- /.container -->
</section>