{% extends "layout_member.html.twig" %}

{% block title %}Edit profile |{% endblock %}

{% block content %}

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(form) }}
<input type="submit" value="UPDATE"
       class="btn btn-default pull-right" />
{{ form_end(form) }}
<h1 class="page-header">Dashboard</h1>
{% endblock %}
