{% extends "layout_simple.html.twig" %}

{% block title %}Request for resetting password | TJ-SIF 2016{% endblock %}

{% block content %}
<p>An email has been sent to "{{ email }}". It contains a link you must click and verification code to reset your password.</p>
{% endblock %}