/*
 * Base structure
 */
body { 
  padding-top: 70px;
}

.navbar-inverse {
  background-color: #4d2367;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
  background-color: #3c0d58;
}

.profile-picture-xs {
  width: 24px;
  height: 24px;
}

.profile-picture-sm {
  width: 50px;
  height: 50px;
}

.prifile-picture-md {
  width: 100px;
  height: 100px;
}

/* Member menu
-------------------------- */
.member-menu {
  margin-bottom: 5px;
}

.member-menu div {
  border-radius: 6px 6px 6px 6px;
  margin-bottom: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
}

.member-menu div a {
  font-size: 18px;
  line-height: 27px;
  color: inherit;
}

.member-menu div a, a:link, a:visited {
  text-decoration: none;
}

.member-menu h3 {
  font-weight: normal;
}

.member-menu .menu1 {
  background-color: darkkhaki;
  background-image: -webkit-linear-gradient(left top, white, darkkhaki);  /* for webkit browsers */
  background-image: -moz-linear-gradient(left top , white, darkkhaki);    /* for firefox 3.6+ */
  background-image: -o-linear-gradient(left top, white, darkkhaki);       /* for Opera 11.10+ */
  background-image: linear-gradient(to right bottom, white, darkkhaki);   /* for IE10+, W3C, Opera 12.50+ */
}

.member-menu .menu2 {
  background-color: darkorchid;
  background-image: -webkit-linear-gradient(left top, white, darkorchid); /* for webkit browsers */
  background-image: -moz-linear-gradient(left top , white, darkorchid);   /* for firefox 3.6+ */
  background-image: -o-linear-gradient(left top, white, darkorchid);      /* for Opera 11.10+ */
  background-image: linear-gradient(to right bottom, white, darkorchid);  /* for IE10+, W3C */
}

.member-menu .menu3 {
  background-color: olivedrab;
  background-image: -webkit-linear-gradient(left top, white, olivedrab);  /* for webkit browsers */
  background-image: -moz-linear-gradient(left top , white, olivedrab);    /* for firefox 3.6+ */
  background-image: -o-linear-gradient(left top, white, olivedrab);       /* for Opera 11.10+ */
  background-image: linear-gradient(to right bottom, white, olivedrab);   /* for IE10+, W3C */
}

.member-menu .menu4 {
  background-color: royalblue;
  background-image: -webkit-linear-gradient(left top, white, royalblue);  /* for webkit browsers */
  background-image: -moz-linear-gradient(left top , white, royalblue);    /* for firefox 3.6+ */
  background-image: -o-linear-gradient(left top, white, royalblue);       /* for Opera 11.10+ */
  background-image: linear-gradient(to right bottom, white, royalblue);   /* for IE10+, W3C */
}

.member-menu .menu5 {
  background-color: darkgray;
  background-image: -webkit-linear-gradient(left top, white, darkgray);   /* for webkit browsers */
  background-image: -moz-linear-gradient(left top , white, darkgray);     /* for firefox 3.6+ */
  background-image: -o-linear-gradient(left top, white, darkgray);        /* for Opera 11.10+ */
  background-image: linear-gradient(to right bottom, white, darkgray);    /* for IE10+, W3C */
}

.member-menu .menu6 {
  background-color: palevioletred;
  background-image: -webkit-linear-gradient(left top, white, palevioletred );     /* for webkit browsers */
  background-image: -moz-linear-gradient(left top , white, palevioletred);        /* for firefox 3.6+ */
  background-image: -o-linear-gradient(left top, white, palevioletred);           /* for Opera 11.10+ */
  background-image: linear-gradient(to right bottom, white, palevioletred);       /* for IE10+, W3C */
}

.member-menu .menu7 {
  background-color: goldenrod;
  background-image: -webkit-linear-gradient(left top, white, goldenrod);  /* for webkit browsers */
  background-image: -moz-linear-gradient(left top , white, goldenrod);    /* for firefox 3.6+ */
  background-image: -o-linear-gradient(left top, white, goldenrod);       /* for Opera 11.10+ */
  background-image: linear-gradient(to right bottom, white, goldenrod);   /* for IE10+, W3C */
}

.member-menu .menu8 {
  background-color: olive;
  background-image: -webkit-linear-gradient(left top, white, olive );     /* for webkit browsers */
  background-image: -moz-linear-gradient(left top , white, olive);        /* for firefox 3.6+ */
  background-image: -o-linear-gradient(left top, white, olive);           /* for Opera 11.10+ */
  background-image: linear-gradient(to right bottom, white, olive);       /* for IE10+, W3C */
}

.member-menu .menu9 {
  background-color: gold;
  background-image: -webkit-linear-gradient(left top, white, gold);   /* for webkit browsers */
  background-image: -moz-linear-gradient(left top , white, gold);     /* for firefox 3.6+ */
  background-image: -o-linear-gradient(left top, white, gold);        /* for Opera 11.10+ */
  background-image: linear-gradient(to right bottom, white, gold);    /* for IE10+, W3C */
}

/* BBS
-------------------------- */

.bbs .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}

.bbs h2 {
  font-weight: normal;
  color: #F48A00;
}

.bbs .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.bbs-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.bbs .date { 
  font-size: 24px;
  color: #ccc;
}

.bbs-divider {
  margin: 40px 0;
}

.bbs .meta {
  clear: left;
  margin-bottom: 20px;
}

.bbs .snippet p.continue {
  margin-bottom: 15px;
  text-align: right;
}

.bbs .meta {
    font-style: italic;
    font-size: 12px;
    color: #666;
}

.bbs .meta p {
    margin-bottom: 5px;
    line-height: 1.2em;
}

.bbs-footer {
  margin-top: 15px;
  border-top: 1px solid #ccc;
  clear: both;
  /*text-align: center; */
  /*padding: 10px;*/
  color: #aaa;
  position: relative;
  min-heght: 1px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.bbs span.highlight {
  color: #F48A00;
}

/* BBS sidebar
-------------------------- */

.bbs-sidebar .sidebar {
  margin-bottom: 20px;
}

.bbs-sidebar h3 {
  line-height: 1.2em;
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: normal;
  background: #eee;
  padding: 5px;
}

.bbs-sidebar p {
  line-height: 1.5em;
  margin-bottom: 20px;
}

.bbs-sidebar ul {
  list-style: none
}

.bbs-sidebar ul li {
  line-height: 1.5em
}

.bbs-sidebar .small {
  font-size: 13px;
}

.bbs-sidebar .comment p {
  margin-bottom: 5px;
}

.bbs-sidebar .comment {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.bbs-sidebar .tags {
  font-weight: bold;
}

.bbs-sidebar .tags span {
  color: #000;
  font-size: 13px;
}

.bbs-sidebar .tags .weight-1 {
  font-size: 13px;
}

.bbs-sidebar .tags .weight-2 {
  font-size: 16px;
}

.bbs-sidebar .tags .weight-3 {
  font-size: 19px;
}

.bbs-sidebar .tags .weight-4 {
  font-size: 22px;
}

.bbs-sidebar .tags .weight-5 {
  font-size: 25px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
  .featurette-heading {
    font-size: 50px;
  }
  .bbs-heading {
    font-size: 50px
  }
}
