{% extends "layout_member.html.twig" %}

{% block title %}Add Comment | {{ parent() }}{% endblock %}

{% block pageheader %}
BBS <small>- for free talk</small>
{% endblock %}

{% block body %}
    <h1>Add comment for blog post "{{ comment.post.title }}"</h1>
    {% include 'bbscomment/new.html.twig' with { 'form': form } %}
{% endblock %}