{% extends "layout_member.html.twig" %}

{% block title %}Activities | {{ parent() }}{% endblock %}

{% block pageheader %}
Activity list
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-offset-11 col-sm-1">
            <a type="button" class="btn btn-lg btn-default pull-right" href="{{ path("member_activity_new") }}">New</a>
        </div>
    </div><!-- /.row -->
    
    {% include 'components/member/activity_list.html.twig' with { 'pagination': paginationOfficial, 'activity_type': 'Official' } %}
    
    {% include 'components/member/activity_list.html.twig' with { 'pagination': paginationUnofficial, 'activity_type': 'Unofficial' } %}
    
</div><!-- /.container -->
{% endblock %}