{% extends "base.html.twig" %}

{% block body %}
<div>
    <p>An account registration request has been sent to your email <{{ user.email }}>.</p>
    
    <p>Click the link in the message to activate your account.</p>
</div>
<div>
    Question? Contact tjsif2016@gmail.com
</div>
{% endblock %}
