{% extends "layout_member.html.twig" %}

{% block content %}
<div>
    <p>An account registration request has been sent to {{ user.email }}</p>
    
    <p>Click the link in the message to activate your account.</p>
</div>
<div>
    Question? Contact tjsif2016@gmail.com
</div>
{% endblock %}
